@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    cursor: default;
    color: #383838;
    font-family: 'Lato', sans-serif;
    /* overflow-x: hidden; */
}
body{
    overflow: hidden;
}
a{
    text-decoration: none;
    cursor: pointer;
}
html{
    overflow-x: hidden;
}
button{
    border: none;
}
input:focus{
    border: none;
}
ul {
    list-style: none;
  }




/* font */

h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2px;
}
.h1_sec{
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
}
h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: -2px;
}

h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 120.52%;
}
h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
}
.link_big{
    font-size: 18px;
    line-height: 120.52%;
}
.p_headlin{
    font-weight: 600;
    font-size: 32px;
    line-height: 120.52%;
}
.p_big{
    font-size: 16px;
    line-height: 120.52%;
}
.p_bignum{
    font-size: 52px;
    line-height: 120.52%;
}
.p_main{
    font-size: 14px;
    line-height: 20px;
}
.p_discription{
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
}
.label-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    color: #383838;
}
.text-num{
    font-size: 24px;
    line-height: 19px;
}

.tac{
    text-align: center;
}
.tar{
    text-align: right;
}

.text-regular{
    font-weight: 400;
}
.text-medium{
    font-weight: 500;
}
.text-sbold{
    font-weight: 600;
}
.text-bold{
    font-weight: 700;
}
.text-ebold{
    font-weight: 800;
}
.underline{
    text-decoration: underline;
}

.list{
    list-style: inside;
}


/* font */


.z0{
    z-index: 0;
}
.z1{
    z-index: 1;
}
.z2{
    z-index: 2;
}



/* color */

.color-dark{
    color: #383838;
}
.color-dark_sec{
    color: #5D5F69;
}
.color-white{
    color: #FFFFFF;
}
.color-white_sec{
    color: #E8E8E8;
}
.color-link{
    color: #4552EC;
}
.color-red{
    color: #E34444;
}
.color-green{
    color: #21E157;
}

.bg_color-dark{
    background: #383838;
}
.bg_color-dark_sec{
    background: #5D5F69;
}
.bg_color-white{
    background: #FFFFFF;
}
.bg_color-white_sec{
    background: #E8E8E8;
}
.bg_color-link{
    background: #4552EC;
}
.bg_color-link_sec{
    background: #EAEBFF;
}
.bgred{
    background-color: #f50707;
}
.bgpurp{
    background-color: #f507d5;
}
/* color */





/* EFFECTS */
.shadow_icon{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.shadow_main{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}
.shadow_constrain{
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08), 0px 10px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}
.border8{
    border-radius: 8px;
}
.border16{
    border-radius: 16px;
}
.border20{
    border-radius: 20px;
}
.solid_border{
    border-top: 1px solid #5D5F69;
}
.border_dush{
    height: 15px;
    border-bottom: 1px dashed #e4e4e4;
}
.border_main{
    border: 1px solid #efefef;
}
.dush_bot{
    border-bottom: 1px dashed #000000;
}
.pointer{
    cursor: pointer;
}
.clip{
    overflow: hidden;
}
/* EFFECTS */


.relative{
    position: relative;
}



/* MARGIN */


.gap2{
    gap: 2px;
}
.gap4{
    gap: 4px;
}
.gap8{
    gap: 8px;
}
.gap12{
    gap: 12px;
}
.gap16{
    gap: 16px;
}
.gap20{
    gap: 20px;
}
.gap24{
    gap: 24px;
}
.gap32{
    gap: 32px;
}


.mgv-8{
    margin-top: -8px;
}
.mgv2{
    margin-top: 2px;
}
.mgv4{
    margin-top: 4px;
}
.mgv6{
    margin-top: 6px;
}
.mgv4{
    margin-top: 4px;
}
.mgv8{
    margin-top: 8px;
}
.mgv12{
    margin-top: 12px;
}
.mgv16{
    margin-top: 16px;
}
.mgv20{
    margin-top: 20px;
}
.mgv24{
    margin-top: 24px;
}
.mgv32{
    margin-top: 32px;
}
.mgv48{
    margin-top: 48px;
}
.mgv94{
    margin-top: 94px;
}
.mgv128{
    margin-top: 128px;
}

.mgh2{
    margin-left: 2px;
}
.mgh4{
    margin-left: 4px;
}
.mgh8{
    margin-left: 8px;
}
.mgh16{
    margin-left: 16px;
}
.mgh20{
    margin-left: 20px;
}
.mgh24{
    margin-left: 24px;
}
.mgh32{
    margin-left: 32px;
}
.mgh200{
    margin-left: 200px;
}
.mgh_col{
    margin-right: 205px;
}

.lr12{
    padding: 0px 12px;
}
.lr24{
    padding: 0px 24px;
}
.lr32{
    padding: 0px 32px;
}

.pad_bot_24{
    padding-bottom: 32px;
}

.padding20{
    padding: 20px;
}
.padding10{
    padding: 10px;
}
.padding16{
    padding: 16px;
}
.padding100{
    padding: 0px 100px;
}

.width33{
    width: 33%;
}
.width60{
    width: 60%;
}
.width50{
    width: 50%;
}
.width100{
    width: 100%;
}
.width200{
    width: 200px;
}
.width295{
    width: 295px;
}
.width315{
    width: 315px;
}
.width350{
    width: 350px;
}
.width385{
    width: 385px;
}
.width450{
    width: 450px;
}
.width662{
    width: 662px;
}
/* MARGIN */





/* FLEX */
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}

.flex-center{
    justify-content: center;
}
.flex-align_c{
    align-items: center;
}
.flex-align_s{
    align-items: start;
}
.flex-align_baseline{
    align-items: baseline;
}
.flex-align_sb{
    align-items: space-between;
    justify-content: space-between;
}
.flex-align_sa{
    justify-content: space-around;
}

.stretch_self{
    flex-grow: 1;
}
.self-start{
    align-self: start;
}
.self-center{
    align-self: center;
}
.self-bot{
    align-self: flex-end;
}
.self-strech{
    align-self: stretch;
}
.strech-self{
    align-self: stretch;
}
.basis_auto{
    flex-basis: auto;
}
/* FLEX */


/* button */

.btn_fill{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 8px;
    gap: 4px;
    background: #4552EC;
    border-radius: 8px;
    cursor: pointer;
}
        .btn_fill:hover{
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #4552EC;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        .btn_fill:active{
            background: linear-gradient(0deg, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, 0.1)), #4552EC;
        }

.btn_elevant{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    color: #4552EC;
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
}
        .btn_elevant:hover{
            background: rgba(69, 82, 236, 0.15);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
        }
        .btn_elevant:active{
            background: rgba(69, 82, 236, 0.25);
            box-shadow: none;
        }

.btn_outline{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    color: #4552EC;
    background: #FFFFFF;
    border: 1px solid #5D5F69;
    border-radius: 8px;
    cursor: pointer;
}
        .btn_outline:hover{
            background: linear-gradient(0deg, rgba(69, 82, 236, 0.15), rgba(69, 82, 236, 0.15)), #FFFFFF;
            border: 1px solid #5D5F69;
        }
        .btn_outline:active{
            background: linear-gradient(0deg, rgba(69, 82, 236, 0.25), rgba(69, 82, 236, 0.25)), #FFFFFF;
            border: 1px solid #5D5F69;
        }
.btn_text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    color: #4552EC;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}
        .btn_text:hover{
            background: linear-gradient(0deg, rgba(69, 82, 236, 0.15), rgba(69, 82, 236, 0.15)), #FFFFFF;
        }
        .btn_text:active{
            background: linear-gradient(0deg, rgba(69, 82, 236, 0.25), rgba(69, 82, 236, 0.25)), #FFFFFF;
        }

.btn_icon{
    padding: 8px 12px 8px 10px;
}
.btn_icon > img{
    width: 20px;
    height: 20px;
}
.btn_big{
    padding: 10px;
}
/* button */



/* INPUT */
input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 10px;
    gap: 4px;
    border: 1px solid #5D5F69;
    border-radius: 8px;
}
        input:focus {
            border: 1px solid #4552EC;
            background-color: #4553ec07; 
        }
textarea{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 10px;
    gap: 4px;
    border: 1px solid #5D5F69;
    border-radius: 8px;
    height: 62px;
}
/* INPUT */



/* INDIVIDUAL_ELEMENTS */
header{
    position: fixed;
    min-width: 100%;
    padding: 16px 0px;
    border-bottom: 1px solid #E8E8E8;
    transition: padding 0.1s ease;
    z-index: 99;
}
.header_s{
    padding: 4px 0px;
}
.contact_container{
    height: 58px;
}
.container_main{
   max-width: 1160px;
   margin: 0px auto;
   position: relative;
}
.contact_btn{
    padding: 10px 12px;
    border-radius: 8px;
    height: 42px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}
    .contact_btn:hover{
        height: 348px;
    }
.offer{
    min-width: 570px;
}
.cart_method{
    width: 300px;
    background: url(icon_brush4.png), #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    
}
.cart_method_bg{
    padding: 0px 12px 16px 12px;
    /* background: #E8E8E8; */
    /* border: 1px solid #FFFFFF; */
    /* box-shadow: 0px -2px 14px rgba  (0, 0, 0, 0.11); */
    /* border-radius: 12px; */
}
.cart_material{
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08), 0px 10px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px;    
}
.cart_price_emal_bg{
    width: calc(100% - 64px);
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08), 0px 10px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;    
    padding: 28px 32px 34px 32px;
}
.cart_price_acril_bg{
    padding: 128px 64px 128px 0px;
    width: calc(100% - 64px);
    justify-content: flex-end;
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08), 0px 10px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}
.cart_price_acril_bg>img{
    position: absolute; left: 0px; bottom: 0px;
}
.cart_price_vkladish_bg{
    width: calc(100% - 64px);
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08), 0px 10px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;    
    padding: 28px 32px 34px 32px;
}
.price_class{
    gap: 32px;
    align-items: center;
    width: calc(100% - 88px);
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08), 0px 10px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 24px 24px;
}
.acril_econom{
    position: absolute;
    width: 100%;
}
.acril_premium{
    position: absolute;
    width: 100%;
    bottom: 75px;
    transform: scale(1,1.1);
}
.review{
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08), 0px 10px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    
}
.img-before{
    background-image: url(image/bg_before.png);
    background-color: #fff;
    background-repeat: none;
    transform: rotate(5deg);
}
.img-after{
    background-image: url(image/bg_after.png);
    background-color: #fff;
    background-repeat: none;
    align-items: flex-end;
    transform: rotate(-5deg);
}
/* INDIVIDUAL_ELEMENTS */
.emal_container{
    position: relative;
    width: 160px;
    height: 160px;
}
.video_case{
    border-radius: 20px;
    position: absolute;
    top: 150px;
}
.video-container{
    width: 305px;
    height: 175px;
    position: relative;
}
.video-p{
    width: 265px;
}
.video-bg{
    position: absolute;
    z-index: 5;
    bottom: 0px;
    left: 0px;
}
.video-pos{
    position: absolute;
    top: 400px;
}
.video-play{
    position: absolute;
    z-index: 15;
    left: 122px;
    top: 46px;
    backdrop-filter: blur(2.5px);
    border-radius: 50%;
    transition: transform .1s ease;
}
        .video-play:hover{
            transform: scale(1.1);
        }
.case_block{
    position: relative;
}
.slider_r{
    position: absolute;
    right: 0px;
    top: 40%;
    transition: transform .15s ease;
}
        .slider_r:hover{
            transform: scale(.9) rotate(-10deg);
        }
.slider_l{
    position: absolute;
    left: 0px;
    top: 40%;
    transition: transform .15s ease;
}
        .slider_l:hover{
            transform: scale(.9) rotate(10deg);
        }
.price_acril{
    right: 0px;
}
.material_standart{
    position: relative;
    /* background-image: url('image/standart_bg.png'); */
}
.price_emal_bg{
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08), 0px 10px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}
.process_img{
    width: 265px;
    padding: 10px 10px 16px 10px;
    background: #FFFFFF;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.process_video{
    width: 430px;
    padding: 10px 10px 16px 10px;
    background: #FFFFFF;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.vacancy-list{
    border-width: 1px 0px;
    border-style: solid;
    border-color: #6F6F6F;
    transition: all 0.1s ease;
    height: auto;
    overflow: hidden;
}
    .vacancy-list:hover{
        /* height: 100%; */
        background-color: #fff;
        border-width: 1px 0px;
        border-style: solid;
        border-color: #CFCFCF;
        box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08), 0px 10px 11px 6px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }
.vacancy-siz_h{
    width: 535px;
}
.vacancy-siz_sec{
    width: 110px;
}
.footer{
    width: 1160px;
}
.m-vis{
    display: none;
}
.process-image{
    position: absolute; 
    z-index: 0; 
    left: 50%; 
    transform: translate(-50%, 0%); 
    top: 120px;
}
.process-line-container{
    height: 365px; 
    z-index: 1; 
    margin-right: -75px;
}
.process-line_two-container{
    z-index: 1; 
    height: 400px; 
    margin-top: -20px;
}
.material-standart{
    width: 1160px; 
    align-self: flex-start; margin-left: 32px; 
    margin-top: -500px;
}
footer{
    width: 1160px;
    background: linear-gradient(267.51deg, #538FFF -37.99%, #40A1E8 146.73%);
}
.best-formula{
    position: absolute;
    right: -35px;
    top: 160px;
    transform: rotate(10deg);
}
.best-premium{
    position: absolute;
    right: -72px;
    top: -32px;
    transform: rotate(15deg);
}
.popup-wrapper{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}
.popup-container{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: start;
    padding: 24px 12px 32px;
    background-color: #fff;
    border-radius: 24px;
    margin: 10% auto;
}
.popup-video{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;

}
.popup-container{
    display: flex;
    width: 560px;
    flex-direction: column;
    align-items: start;
    padding: 24px 12px 32px;
    background-color: #fff;
    border-radius: 24px;
    margin: 10% auto;
}
.shtamp{
    position: absolute;
    top: 12px;
    right: 120px;
    transform: rotate(5deg);
}

@media (max-width: 1024px) {

    .btn_big{
        padding: 16px 88px;
    }
    /*  h1 30px
        h2 25px
        h3 20px
        h4 15px  text-transform: uppercase;
        p  16px;
    */


    /* FONT */
    

    h1{
        font-size: 30px;
        letter-spacing: -0.75px;
    }
    .h1_sec{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
        letter-spacing: -0.75px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .p_main{
        font-size: 16px;
        line-height: 22px;
    }



    .popup-container{
        width: 320px;
    }
    .p_headlin{
        font-size: 24px;
        line-height: 120%;
    }
    .m-p_big{
        font-size: 14px;
    }
    .m_tac{
        text-align: center;
    }

    .m-fsz13{
        font-size: 13px;
    }
    .m-fw500{
        font-weight: 500;
    }


    /* FLEX */
    .m-flex-start{
        align-items: start;
    }
    .m-flex-c{
        align-items: center;
    }
    .m-flex-end{
        align-items: flex-end;
    }
    .m-flex-col{
        flex-direction: column;
    }
    .m-flex-col-rev{
        flex-direction: column-reverse;
    }
    .m-flex-row{
        flex-direction: row;
    }
    .m-flex-row-rew{
        flex-direction: row-reverse;
    }
    .m-flex-between{
        padding: 0px 16px;
        justify-content: space-between;
    }
    .m-space-evenly{
        justify-content: space-evenly;
    }
    .m-space-between{
        justify-content: space-between;
    }
    .m-self-start{
        align-self: flex-start;
    }
    .m-self-center{
        align-self: center;
    }
    .m-self-end{
        align-self: flex-end;
    }
    .wrap{
        flex-wrap: wrap;
    }
    .m-justify_c{
        justify-content: center
    }
    .m-semen{
        margin-top: 20px;
        margin-left: 110px;
        transform: translate(0%,8%) scale(1.65)
    }
    /* MARGIn */
    .mgh_col{
        margin-right: 0px;
    }
    .m-gap0{
        gap: 0px;
    }
    .m-gap2{
        gap: 2px;
    }
    .m-gap4{
        gap: 4px;
    }
    .m-gap8{
        gap: 8px;
    }
    .m-gap12{
        gap: 12px;
    }
    .m-gap16{
        gap: 16px;
    }
    .m-gap20{
        gap: 20px;
    }
    .m-gap24{
        gap: 24px;
    }
    .m-gap32{
        gap: 32px;
    }
    .m-padding0{
        padding: 0px;
    }
    .m-padding8{
        padding: 0px 8px;
    }
    .m-padding12{
        padding: 0px 12px;
    }
    .m-padding16{
        padding: 0px 16px;
    }
    .m-width50{
        width: 50%;
    }
    .m-width100{
        width: 100%;
    }
    .m-width100-16{
        width: calc(100% - 32px);
    }
    .m-width160{
        width: 160px;
    }
    .m-width320{
        width: 320px;
    }


    .mgv128{
        margin-top: 72px;
    }

    
    .m-mgv-8{
        margin-top: -8px;
    }
    .m-mgv2{
        margin-top: 2px;
    }
    .m-mgv4{
        margin-top: 4px;
    }
    .m-mgv6{
        margin-top: 6px;
    }
    .m-mgv4{
        margin-top: 4px;
    }
    .m-mgv8{
        margin-top: 8px;
    }
    .m-mgv12{
        margin-top: 12px;
    }
    .m-mgv16{
        margin-top: 16px;
    }
    .m-mgv20{
        margin-top: 20px;
    }
    .m-mgv24{
        margin-top: 24px;
    }
    .m-mgv32{
        margin-top: 32px;
    }
    .m-mgv48{
        margin-top: 48px;
    }
    .m-mgv94{
        margin-top: 94px;
    }
    .m-mgv128{
        margin-top: 128px;
    }
    .m-mgv250{
        margin-top: 250px;
    }

    .m-mgv-16{
        margin-top: -16px;
    }
    .m-mgv-94{
        margin-top: -94px;
    }
    
    .m-mgh0{
        margin-left: 0px;
    }
    .m-mgh2{
        margin-left: 2px;
    }
    .m-mgh4{
        margin-left: 4px;
    }
    .m-mgh8{
        margin-left: 8px;
    }
    .m-mgh16{
        margin-left: 16px;
    }
    .m-mgh20{
        margin-left: 20px;
    }
    .m-mgh24{
        margin-left: 24px;
    }
    .m-mgh32{
        margin-left: 32px;
    }
    .m-mgh200{
        margin-left: 200px;
    }
    .m-mgh_col{
        margin-right: 205px;
    }
    .m-mgl12{
        margin-left: 12px;
    }
    .m-mgr7{
        margin-right: 7px;
    }

    .m-lr4{
        padding: 0px 4px;
    }
    .m-lr8{
        padding: 0px 8px;
    }
    .m-lr12{
        padding: 0px 12px;
    }




    .footer_img>img{
        width: calc(100% + 32px);
    }
    .container_main {
      max-width: 343px;
    }
    .m-first_screen{
        flex-direction: column;
    }
        .m-first_screen>img{
            width: 100%;
        }
    .m-width_strech{
        width: 100%;
    }

    .vacancy-siz_h{
        width: 100%;
    }
    .offer{
        min-width: 320px;
    }
    .none{
        display: none;
    }
    .m-vis{
        display: flex;
    }
    .m-hide{
        display: none;
    }
    .footer_m_w{
        width: calc(100% + 32px);
    }
    .footer{
        width: 100%;
    }


    header{
        padding: 8px 0px;
    }
    .header_s{
        padding: 4px 0px;
    }
    .nav_container{
        display: none;
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 115px;
        left: 0px;
        width: 100%;
        min-height: calc(100vh - 86px);
        /* max-height: 100vh; */
        background-color: #fff;
        z-index: 0;
    }
    .menu-active{
        display: flex;

    }
        .nav_container>li{
            width: 100%;
        }
            .nav_container>li>.btn_text{
                padding: 15px;
            }
    a>img{
        width: 192px;
        height: 50px;
    }
    .burger-icon{
        cursor: pointer;

    }
    .process-image{
        width: 250%;
        left: 70%;
        top: 220px;
        overflow: hidden;
    }
    .process-vector{
        position: absolute;
        bottom: 260px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(323deg) scale(0.5);
    }
    .process_video{
        width: calc(100% - 32px);
    }
    .process_video>.relative>img{
        width: 100%;
    }
    .process-line-container{
        margin: 32px 0px 0px;
        flex-direction: column;
        height: auto;
        width: 350px;
    }
    .process-line-container>div{
        /* transform: scale(70%); */
        /* margin-top: -90px; */
    }
    .process-line_two-container{
        margin: 0px 0px;   
        flex-direction: column;
        height: auto;
        width: 350px;
    }
    .process_img {
        width: 212px;
    }
    .process_img>.relative>img{
            width: 100%;
    }
    .process_img>p{
        font-size: 13px;
        line-height: 120%;
    }
    .process-line_two-container>div{
        /* transform: scale(70%); */
        /* margin-top: -90px; */
    }
    .process1{
        /* margin-right: -40px; */
    }
    .process2{
        /* margin-left: -40px; */
    }
    .process3{
        /* margin-right: -40px; */
    }
    .process4{
        align-self: flex-start;
        /* margin-left: -40px; */
    }
    .process5{
        align-self: flex-end;
        /* margin-right: -40px; */
    }
    .process6{
        align-self: center;
    }
    .img-before{
        transform: translate(30%, -30%) rotate(0deg) scale(45%);
    }
    .img-after{
        transform: translate(-30%, -30%) rotate(0deg) scale(45%);
    }
    .video-pos{
        top: 450px;
        transform: translate(0%, -50%) scale(70%);
    }
    .slider_r{
        transform: scale(50%);
        right: -25px;
        top: 45%;
    }
    .slider_l{
        transform: scale(50%);
        left: -25px;
        top: 45%;
    }
    .review{
        min-width: 270px;
    }
    .cart_price_emal_bg{
        padding: 24px 8px 32px 8px;
    }
    .cart_price_vkladish_bg{
        padding: 24px 12px 32px;
    }
    .cart_price_acril_bg>img{
        transform: scale(.5) translate(-50%, -50%);
    }
    .cart_price_acril_bg{
        padding: 0px 24px 32px;
    }
    .material-standart{
        width: 100%;
        margin: -120px 0px 0px 0px;
        z-index: 1;

    }
    .standart-vector{
        z-index: 0;
        transform: translate(0%, 100%) scale(1, 5);
        margin-top: 120px;
    }
    .answer{
        width: 100%;
        display: none;
    }
    .answer_visible{
        display: block;
    }
    .process-image_container{
        background-color: red;
        width: 150px;
        height: 150px;
        overflow: hidden;
    }
    .acril_econom{
        transform: translate(0%,50%) scale(1,1.75);
    }
    .acril_premium{
        position: absolute;
        width: 100%;
        bottom: 610px;
        transform: translate(0%,-100%) scale(1,4.5);
    }
    .mobile-contact{
        height: 0px;
        overflow: hidden;
    }
    .mobile-contact-vis{
        height: 295px;
    }

    .btn_fill{  
        padding: 16px;
    }


  }
.max-content{
    width: max-content;

}
